#tab-links li:not(.disabled) a:focus, .active {
    background-color: #ccc;
}

.attributes-selector {
    float: left;
    width: 80%;
    list-style-type: none;
    margin-top: 15px;
    margin-right: 15px;
    height: 200px;
    overflow: scroll;
    border: 1px solid #ccc;

}

.semi-attributes-selector {
  float: left;
  width: 80%;
  list-style-type: none;
  margin-top: 15px;
  margin-right: 15px;
  height: 80px;
  overflow: scroll;
  border: 1px solid #ccc;
}

a.texture-link, a.parameter-link, a.type-link, a.stitch-link {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
  min-height: 15px;
}


a.color-link {
  display: inline-block;
  float:left;
  color: black;
  width: 18.8%;
  padding-bottom: 18.8%;
  text-decoration: none;
  transition: 0.3s;
  border: 1px solid #cccccc;
}

.texture-button-label {
  display: block;
  padding: 1%;
}

a.color-link.active {
  border: 1px solid #FF3C00;
}

.attributes-selector li a:focus, .active {
    background-color: #ccc;
}

.attributes-selector li a.new-link {
    background-color: #ff9999;
}

.attributes-selector li a:focus, .active {
    background-color: #ccc;
}

.attributes-selector li a:hover {
    background-color: #ddd;
}

.img-div {
  width: 80%;
  padding-bottom: 80%;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}

.add {
  margin-top: 15px;
  border-radius: 0px;
  border: 1px solid #ccc;
  padding: 4px 8px;
}

.remove {
  margin-top: 15px;
  border-radius: 0px;
  border: 1px solid #ccc;
  padding: 4px 8px;
}

.name-field {
  margin-top: 15px;
  width: 60%;
  font-size: 0.8em;
  border-radius: 0px;
  border: 1px solid #ccc;
  padding: 6px;
  margin-right: 10%;
}

.texture-img {
  border: 1px solid #d3d3d3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  text-align: center;
  margin-top: 10px;
}

#colors-select {
  border-radius: 0px;
  border: 1px solid rgb(204, 204, 204);
  padding: 2%;
  font-size: 0.8em;
  float: left;
  margin-top: 10px;
}

#color-div {
  width: 27.5%;
  display: inline-block;
  padding-bottom: 10.5%;
  margin-left: 5%;
  float: left;
  margin-top: 10px;
  border: 1px solid #cccccc;
}

#texture-img img{
  padding: 1%;
}

fieldset {
  width: 70%;
}

.custom-file-upload {
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 9px;
    cursor: pointer;
}

#save {
  margin-top: 10px;
}

a:focus {
    outline: thin dotted;
}

a {
    background: transparent;
}





.setting-label {
  font-size: 0.8em;
  color: rgb(68, 68, 68);
  vertical-align: super;
}

#textures-div {
  margin-top: 20px;
}

#without-div {
  margin-top: 100px;
}

.check-label {
  margin-top: 10px;
  margin-bottom: 10px;
}

#type-price {
  width: 20%;
}

hr {
  color: #eeeeee;
}

.check-div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.korpus > div, .korpus > input { display: none; }
 .korpus label.tab-label { padding: 5px; border: 1px solid #aaa; line-height: 28px; cursor: pointer; position: relative; bottom: 1px; background: #fff; }
  .korpus input[type="radio"]:checked + label { border-bottom: 2px solid #fff; } .korpus > input:nth-of-type(1):checked ~ div:nth-of-type(1),
   .korpus > input:nth-of-type(2):checked ~ div:nth-of-type(2),
    .korpus > input:nth-of-type(3):checked ~ div:nth-of-type(3) { display: block; padding: 5px; border: 1px solid #aaa; overflow: hidden; }



input[type="file"], input[type="submit"] {
    display: none;
}
